# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
.kotlin/
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.provisionprofile

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Coverage
coverage/

# Misc
example
